{{#each this}}
  <li class="gallery__item">
    <div class="gallery__thumb">
      <img src="{{flag}}" alt="Флаг {{name}}" width="320">
    </div>
    <h2>{{name}}</h2>
    <p><b>Столица: {{capital}}</b> </p>
    <p><b>Население: {{population}}</b></p>
    <ul class="languages-list"><b>Официальные языки:
        {{#each languages}}
        <li class="languages-list-item">{{this}}</li>
        {{/each}}
        </b>
      </ul>
    </li>
{{/each}}